@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1592563382009'); /* IE9 */
  src: url('iconfont.eot?t=1592563382009#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALAAAsAAAAABrwAAAJyAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBIIErATYCJAMMCwgABCAFhG0HPBv3BRHVkz1kXxTYLmuStCtNVTnzv3QW0yGO9qOYikn3+0U8PL+//9a+57z7R1IUmabaEaqAQkEoilCbyW+/bX8NKWkhoY36rWs/2Qk23hhfAiAB/QBSRILE57mc3iigQOa3LKc1bezx/Kh3gHFAWTzmJCuRQDyD5ZUH6Qa92kygjg76ifETp89XSxb1CsT2LZvWqNULybLK1hLKmYlZnFNRqzhevFfOlt+P313UolBJooGzN05Yb/Q33077qizPCWECnV5BQj9kYuVsarEkFC+pY8jrxaUsFFdFq9VS4ZvKj/7xCqIUVdYDvWi64JtUQvDtKQqQQNnPDMRwxm32pBAtW+10G+LGvtcn+sTGmxH7+8amWyffuLwobIyb+9+d7B1LR4t9vWL99RNv49qgh9U/eNDQkedHDPX0yXzoNL9sOXTE+Y6Ffx4L2Xc1qErd0z72i0Dw7NWrj6saDv9fq24Gn3r2hASrMtyi1s/cgeEpwZrsqyNzyq4iVYSepBXgKKAy7VUt8jXx9bipOZwg1OqpD3hqtPeQ1NKNzNx+qKhrGEq1jEIdfU2aXldTOySRa6OPwwShkXsoNPAOSSMfyMz9gooW/qLUKBLqWBhNF6yrR6CpPDFqQQfmD8nS6hOrlFX1HcMxa+6qS/4beU9RaKtmmL3hinzFkP0TOhEPnmmBK9kO55lgYxrRShVFtqGu/dybKkuLKp0YtaAD84dkafV5fSlHn79jOGbNK4ye9Bt5T81DWzUAeTOsEONXrtk/oRPx4JkWuJJ2OM8E23y7Ea1U8UBiG+qYzaOG6nnTYr4NUEc0PUURKbJsa9Kr0JGXzl4pAAA=') format('woff2'),
  url('iconfont.woff?t=1592563382009') format('woff'),
  url('iconfont.ttf?t=1592563382009') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1592563382009#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont1 {
  font-family: "iconfont" !important;
  font-size: 50px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.5);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e622";
}

.icon-jiantou3:before {
  content: "\e624";
}

